@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.tabs {
    display: flex;
    cursor: pointer;
    margin-bottom: 20px;
  }
  .tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    background: #f1f1f1;
    border: 1px solid #ddd;
    border-bottom: none;
    transition: background 0.3s;
  }
  .tab:hover {
    background: #ddd;
  }
  /* Caixa para o conteúdo das abas */
  .tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    background: #f9f9f9;
  }
  /* Mostrar conteúdo ativo */
  input[type="radio"]:checked + label {
    background: #ffffff;
    font-weight: bold;
    color: #333;
  }
  input[type="radio"]:checked + label + .tab-content {
    display: block;
  }
  /* Esconder inputs de radio */
  input[type="radio"] {
    display: none;
  }

body{
        
    background-image: url(imagens/background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.principal{
    background-image: url(imagens/alegria-pricipal-removebg-preview.png);
    height: 308px;
    width: 100%;
    max-width: 668px;
    margin: auto;
    background-size: cover;
    background-position: center;
}

@media(max-width: 600px){
    .principal{
        background-image: url(imagens/alegria-pricipal-pequno.png);
        height: 215px;
    }
}

@media(max-width: 600px){
    .container{
        display: flex;
        flex-direction: column;
    }
}

.container{
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.texto{
    margin-right: 20px;
    font-size: 18px;
}

.foto{
    max-width: 350px;
    border-radius: 10px;
}

footer{
    text-align: center;
}